# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.GGJ2022-Dual-Randomness-Cupid-s-hate-.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
